.homeHero {
  @apply flex flex-col items-center justify-center;
  @apply w-full;
  @apply h-128;
  @apply bg-cover;

  background-image: linear-gradient(black, blue), url('../../public/images/throne.jpeg');
  background-blend-mode: saturation;
}

.heroHeader {
  @apply font-got text-6xl text-white;

  text-shadow: 0 0 10px #FFFFFF;
}

.heroSubtitle {
  @apply pt-4;
  @apply font-century text-2xl uppercase text-white;

  text-shadow: 0 0 10px #333;
}

.homePage {
  @apply bg-black min-h-screen;
}
